body {
    font-size: 15pt;
    background: grey;
    color: white;
}

* {
  border-radius: 7px;
}

div {
  width: 300px;
  height: 330px;
  background: cyan;
  display: grid;
  align-content: center;
  justify-items: center;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 260px;
  height: 50px;
  background: blue;
  color: white;
  font-weight: bold;
}